*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    padding: 0 15rem 2rem 15rem;

}

.header{
    background: rgb(1, 1, 32);
   display: flex;
   flex-direction: column;
   padding: 10px 10rem 30px 10rem;
}

.header__links{
    color: #fff;
    
}
.header__links-logo{
    float: left;
}

.header__links-texts{
    float: right;
    display: flex;
    width: 300px;
    font-size: 12px;
    justify-content: space-between;
}

.header__desc{
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-top: 50px;

}
.header__desc-text{
    display: flex;
    flex-direction: column;  
    width: 45%;

}
.header__desc-img{
    background: grey;
    height: 180px;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 45%;
}
.header__desc-text button{
    padding: 10px 10px 10px 10px;
    background: blue;
    color:  #fff;
    border: none;
    outline: none;
    margin-top: 5px;
}

.information{
    background: whitesmoke;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.information h1 {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.information__box-container {
  display: flex;
  justify-content: center;
  width: 50%;
  align-self: center;
}

.information__box1,
.information__box2,
.information__box3,
.information__box4 {
  display: flex;
  width: 20%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  margin: 0 auto;
}

.information__box1 p,
.information__box2 p,
.information__box3 p,
.information__box4 p {
  margin-top: 10px;
}

.information__box1 div,
.information__box2 div,
.information__box3 div,
.information__box4 div {
  background: transparent;
  border: 1px solid blue;
  border-radius: 10px;
  height: 80px;
  width: 80px;
}

.thor{
    background: rgb(179, 178, 178);
    height: 200px;
    margin-top: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

}
.thor__text{
    width: 35%;
    line-height: 20px;
    

}
.thor__text-God{
    width: 35%;
    display: flex;
    justify-content: flex-end;
    
}
.action{
    background: rgb(41, 41, 248);
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #fff;
    display: flex;
    width: 800px;
    align-self: center;

}
.action__call{

}
.action__call-button button{
    padding: 10px 10px 10px 10px;
    border: 1px solid #fff;
    background: rgb(41, 41, 248);
    color: #fff;
    margin-left: 10rem;

}
.footer{
    background: rgb(1, 1, 32);
   padding: 2rem 30rem 2rem 20rem;
    color: #fff;
    font-size: 10px;
}